
.card{
    background-color: #fefefe;
    margin: 1em 0;
    padding: 1em;
    border-radius: 3px;
}

.card-tags{
    margin-bottom: 1em;
}

.card-tags a{
    display: inline-flex;
    margin: 3px;
    padding: 5px 12px;
    font-size: 1.05em;
    color: #777;
    background-color: #eee;
}

.card-tags a:hover{
    background-color: #cb3837;
    color: #FFF !important;
}

.card-info p, .card-info a{
    margin: 1em 0;
    color: #777 !important;
}

.card-info a:hover{
    color: #eb3131 !important;
}

.lermais{
    width: 40%;
    margin: 2em auto;
    margin-bottom: 1em;
    padding: 15px 30px;
    border: 1.2pt solid #bebebe;
    border-radius: 50px;
    text-align: center;
}

.lermais a, .lermais a:hover{
    color: #888 !important;
}

.about{
    padding: 8em 2em;
    background-color: #fefefe;
}

@media (min-width: 720px){
    .lermais{
        width: 20%;
    }

    .card{
        margin: 2em 0;
    }

    .about{
        padding: 8em 10em;
    }
}