@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* padrões globais */
a{
    text-decoration: none;
    color: #4285f4;
    transition: all .1s linear;
}

a:hover > h1{
    color: #4285f4 !important;
    transition: all .1s linear;
}

a:hover, i:hover{
    color: #4285f4 !important;
}

i, a{
    cursor: pointer;
}

h1{
    margin: 5px 0 !important;
    line-height: 1em;
    font-size: 34px !important;
    color: #212121;
}

h2{
    margin: 0;
    font-size: 2em;
}

h3{
    font-size: 1.7em;
}

p{
    font-size: 1.2em;
    color: #454545;
}

li{
    font-size: 1.2em;
    color: #363636 !important;
}


.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.section{
    max-width: 90%;
    margin: 2em auto;
}

.section-id{
    margin: 1em;
    margin-bottom: 1em;
    color: #555;
}

#btnAbrir{
    position: absolute;
    top: 16px;
    left: .5em;
    color: #363636;
    font-size: 2em;
}

#btnFechar{
    position: absolute;
    top: 16px;
    right: .5em;
    font-size: 2em;
}


/* padrões globais */

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fefefe;
    padding-top: 64px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: #fafafa;
    height: 64px;
    max-height: 64px;
    box-shadow: 1px 0 3px rgba(0,0,0,.3);
}

.navbar-content a{
    position: absolute;
    top: 15px;
    left: 2.2em;
    font-size: 1.8em;
    color: #363636;
}

#menu{
    position: fixed;
    top: 0;
    left: -90%;
    width: 80%;
    max-width: 100%;
    height: 100%;
    background-color: #FFF;
    box-shadow: 3px 0 9px rgba(0,0,0,.2);
}

.menu-content{
    padding: 2em 2em;
}

.menu-content a{
    margin: 5px 0;
    font-size: 1.2em;
    color: #454545;
}

.footer{
    padding: 5em 10%;
    background-color: #fafafa;
    text-align: center;
}

.footer p{
    color: #222 !important;
}
/* padrões mobile */


/* padrões desktop */

@media (min-width: 780px) {
    .section{
        width: 50%;
    }
}