@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;   
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

.section{
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

.section-id{
    margin: 2em 0;
}

img{
    max-width: 100%;
}

i{
    font-size: 2em !important;
    cursor: pointer;
}

h1,h2,h3,h4{
    color: #121212 !importatn;
}

h1{
    margin: .3em 0;
    font-size: 2.6em;
    line-height: .9em;
}

h2{
    font-size: 1.8em;
}

p{
    font-size: 1.2em;
    color: #222;
}

a{
    font-size: 1.05em;
    color: #121212;
    font-weight:600;
}

a:hover{
    width: auto;
    color: #eb3131 !important;
}

.header{
    max-width: 100%;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    max-height: 60px;
    background-color: #121212;
}

#abrir, #fechar{
    position: absolute;
    top: 0;
    right: 0;
    margin: 14px .7em;
}

#abrir{
    color: #FFF;
}

#fechar{
    color: #159df8;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
}

#menu{
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #fefefe;
}

.menu-content{
    margin: 1em 2em;
    color: #222;
}

.menu-content a{
    color: #222;
    margin: 5px 0;
    font-size: 1.4em;
    font-weight: 400;
}

.menu-link{
    display: flex;
    flex-direction: column;
}

.menu-link h2{
    margin-bottom: .5em;
}

.menu-social h2{
    margin: .5em 0;
}

.menu-social{
    position: absolute;
    width: 100%;
}

.menu-social a{
    margin: 5px;
    padding: 5px;
    font-size: 1.6em;
}

.header-content{
    margin: -1px 0;
    padding: 12em 2em;
    background-color: #1da3fc;
    background: url('https://images.pexels.com/photos/889545/pexels-photo-889545.jpeg?dl&fit=crop&crop=entropy&w=1280&h=720');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 5px solid #cb3837;
}

.header-content h1, .header-content h3, .header-content p, .header-content a{
    color: #fefefe;
}

.footer{
    padding: 2em;
}

.footer h2{
    margin: .5em 0;
}

.footer-1 a{
    display: inline-flex;
    margin: 3px 0;
    padding: 5px 10px;
    background-color: #cb3837;
}

.footer-1 a:hover{
    color: #fefefe !important;
}

.footer-2 {
    font-weight: 400;
    padding: 2em 0 !important;
}

.footer-2 a{
    font-size: 1.3em;
    line-height: 30px;
    font-weight: 300;
}

@media (min-width: 720px){
    h1{
        font-size: 2.6em;
    }
    p, a{
        font-size: 1em;
    }
    .section{
        max-width: 50%;
    }
}