a{
    text-decoration: none;
    transition: all .2s ease;
    color: #333 !important;
}

a:hover{
    color: #54b6f7 !important;
    transition: all .2s ease;
}

h1{
    font-size: 2em;
    color: #333 !important;
}

h2{
    font-size: 1.7em;
}

p{
    font-size: 17px;
    color: #444;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family:  Helvetica, Arial, sans-serif;
}

.header{
    height: 80vh;
}

.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background-color: #202020;
}

.navbar a{
    color: #54b6f7;
}

.navbar-left{
    position: absolute;
    margin: 1em;
    left: 0;
}

.navbar-left a{
    position: absolute;
    top: -.6em;
    left: 1em;
    color: #FFF !important;    
}

.navbar-right a{
    margin: 3px 5px;
}

.header-content{
    width: 80%;
    padding: 30vh 0;
    margin: 0 auto;
    text-align: center;
}

#menuOpen, #menuClose{
    position: absolute;
    top: .45em;
    right: 1em;
    font-size: 1.7em;
    color: #fefefe;
}

#menuClose{
    color: #202020;
}

.content{
    width: 90%;
    margin: 0 auto;
}

#menu{
    position: fixed;
    top: 0;
    right: -111vw;
    padding: .1em 1em;
    font-size: 17pt;
    height: 100vh;
    background-color: #fafafa;
}

.content-menu{
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}

.post{
    margin: 1em 0;
    border-bottom: 1px solid #888;
}

.footer{
    padding: 4em 0em;
    padding-bottom: 1em;
    text-align: center;
}

@media (min-width: 700px) {
    .content{
        max-width: 60%;
        margin: 2em auto;
        line-height: 1em;
    }
}