
body{
    background-color: #fefefe !important;
    width: 100%;
    max-width: 100%;
}

.section{
    max-width: 100%;
    margin: 5em 0;
    padding: 1em;
}

h1{
    font-size: 2em;
    line-height: 1em;
    color: #222;
}

h2{
    margin: .5em 0;
    color: #222;
}

p{
    margin: 1em 0;
    font-size: 1.1em;
    font-weight: 300 !important;
    color: #555;
}

ul{
    margin: 1em 2em;
}

li{
    margin: 5px 0;
}

@media (min-width: 720px){
    body{
        background-color: #eee !important;
        width: 100%;
        max-width: 100%;
    }

    h1{
        font-size: 4em;
        line-height: 1em;
        color: #222;
    }

    .section{
        width: 60% !important;
        margin: 7em auto;
        padding: 5em 10em;
        background-color: #fefefe;
        box-shadow: 0 3px 10px rgba(0,0,0,.2);
    }
}